@font-face {
	font-family: 'Metropolis';
	src:url('fonts/Metropolis-Medium.woff');
	font-weight: normal;
	font-style: normal;
}

.banner-container{
    justify-content: center !important;
    align-items: center !important;
}

.banner-heading h2{
    font-family: 'Metropolis' !important;
}

.banner-subheading h2{
    font-family: 'Metropolis' !important;
    font-weight: 500 !important;
    background: -webkit-linear-gradient(95.12deg, #003B73 0%, rgba(26, 143, 255, 0.55) 146.74%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-subheading h2{
    animation: bounce 1s; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    animation-iteration-count: infinite;
}

@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0);
    }
    to { 
        transform: translate3d(0, 40px, 0); 
        opacity: 0;
    } 
} 

.banner-description p{
    font-family: 'Metropolis' !important;
    font-weight: 500 !important;
}

.banner-btn a{
    background: linear-gradient(180deg, #003B73 0%, #60A3D9 100%) !important;
}

.partners-heading h2, .services-heading h2{
    font-family: 'Metropolis' !important;
    font-weight: 500 !important;
    letter-spacing: 2px;
}

.partners-img-grid img{
    margin-top: 30px;
    margin-bottom: 30px;
}

.services-cards h5{
    text-align: left !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    color: #222121;
}

.services-cards .sow-icon-container{
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: fit-content !important;
}

.services-cards .sow-features-feature{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 0 20px 20px;
    width: 290px !important;
}

.services-cards .sow-more-text a{
    font-weight: 600 !important;
    margin-right: 5px;
    color: #222121 !important;
}

.services-cards .sow-more-text a::after{
    content: "\27F6";
}

.services-cards .sow-more-text{
    text-align: right;
}

.industry-img-grid img{
    width: 180px !important;
    height: 460px !important;
    border-radius: 20px;
    opacity: 0.4 !important;
}


.industry-img-grid img:hover{
    opacity: 1 !important;
    width: 300px !important;
}

.industry-img-grid .sow-image-grid-image{
    position: relative;
}

.industry-img-grid .sow-image-grid-image .title-desc{
    position: absolute;
    top: 50%;
    left: 20px;
}

.hidden{
    display: none !important;
}

.our-work-section{
    background: rgba(241, 248, 255, 1);
    height: 250px;
}

.our-work-section h2{
    font-family: 'Metropolis' !important;
    font-weight: 500 !important;
    width: 540px;
}

.our-work-section > .panel-grid-cell{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-work-section-counts {
    width: 500px;
}

.our-work-section-counts .panel-grid-cell .panel-first-child{
    margin-bottom: 15px !important;
}
  